body{
/*  background-color: black;
 height: auto;*/
/*  width: auto;
  margin: 0 auto;*/
text-align: center;
}
#logo{
/*background-color: red;*/
}

#main{
margin-top: -5%;
}

.bt_mida{
  width: 40%;
  font-size: 20px;
  margin: 0 10%;
}
footer{
  background-color: green;
  margin-top: 25px;
}
h1{

}

.text_area {

}
/*estils carnet.php*/
#carnet
{
  background-color: orange;
  width: 70%;
  height: 400px;
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
/*  display: flex;*/
  justify-content: center;
}
#telefon
{
/*  background-color: green;*/
  width: 100%;
  font-size: 20px;
  padding-top: 1px;
/*  align-self: flex-start;*/
/*position:fixed;*/
}
#usuari
{
/*  background-color: blue;*/
  width: 100%;
  /*align-self: center;*/
  font-size: 34px;
  font-weight: bold;
}

#info
{
/*  background-color: grey;*/
  padding: 0px 30px 0px 30px;
    text-align: justify;
}

#info h1{
/*  margin-top: -5px;*/
  text-align: center;
}
