body{
/*  background-color: black;
 height: auto;*/
/*  width: auto;
  margin: 0 auto;*/
text-align: center;
}
#logo{
/*background-color: red;*/
}

#main{
margin-top: -5%;
}

.bt_mida{
  width: 40%;
  font-size: 20px;
  margin: 0 10%;
}
footer{
  background-color: green;
  margin-top: 25px;
}
h1{

}

.text_area {

}
/*estils carnet.php*/
#carnet
{
  background-color: orange;
  width: 70%;
  height: 350px;
  margin-left: 15%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#telefon
{
  background-color: green;
  width: 70%;
/*  align-self: flex-start;*/
position:fixed;
}
#usuari
{
  background-color: blue;
  width: 70%;
  /*align-self: center;*/
  font-size: 24px;

}
