body{
/*  background-color: black;
 height: auto;*/
/*  width: auto;
  margin: 0 auto;*/
font-family: Verdana, 'Geneva', sans-serif;
text-align: center;
}
#logo{
/*background-color: red;*/
}

#main{
/*margin-top: -5%;*/
}

.bt_menu{
  margin: 10px 0;
}

.form-element{
  margin: 10px 0px;
}

.input_form, .input_form_pass{
  padding: 5px 0;
}

/*.input_cif{
  margin-left: 4px;
}*/

.input_form {
  margin-left: 10px;
}


.bt_mida, .bt_tancar{
  width: 200px;
  font-size: 20px;
  margin: 5px 0;
/*  margin: 0 auto;*/
  background-color: #ff9400;
  font-weight: bold;
  color: white;
  padding: 5px 0;
  margin-top: 10px;
}

.bt_tancar{
  background-color: red;
  color: black;
}

.bt_mida:hover{
  color:black;
}

.bt_tancar:hover{
  color:white;
}

/*.bt_mida_login{
  width: 200px;
  font-size: 20px;
  margin-top: 10px;

}*/

footer{
  /*background-color: green;*/
  margin-top: 25px;
  text-align: center;
}

ul{
  list-style-type: none;
  padding-inline-start: 0px;
}


.text_area {

}
/*estils carnet.php*/
#carnet
{
  background-color: #ff9400;
  width: 70%;
  height: 400px;
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
/*  display: flex;*/
  justify-content: center;
}
#telefon
{
/*  background-color: green;*/
  width: 100%;
  font-size: 20px;
  padding-top: 1px;
/*  align-self: flex-start;*/
/*position:fixed;*/
}
#usuari
{
/*  background-color: blue;*/
  width: 100%;
  /*align-self: center;*/
  font-size: 34px;
  font-weight: bold;
}

#info
{
/*  background-color: grey;*/
  padding: 0px 30px 0px 30px;
    text-align: justify;
}

#info h1{
/*  margin-top: -5px;*/
  text-align: center;
}

.email{
  padding-right: 65px;
}

.text{
  padding-right: 50px;
  vertical-align: 200%;
}

@media screen and (max-width: 285px) {
    .text{
      padding-right: 0px;
      vertical-align: 0%;
    }
    .email{
      padding-right: 0px;
    }
}


.btn-primary{
    background-color: #ff9400;
    border-color: black;
}

.btn-primary:hover{
    background-color: black;
}

.btn-primary:active{
    background-color: black;
}
